name: 测试飞书
on:
  push:
    branches:
      - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login harbor
      uses: docker/login-action@v1 
      with:
        registry: harbor.longguikeji.com
        username: ${{ secrets.HARBORUSER }}
        password: ${{ secrets.HARBORPWD }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          harbor.longguikeji.com/ark-releases/test:1
    - name: Feishu
      uses: wangsijie/feishu-bot@v1
      with:
        uuid: 22085f64-95b1-4445-b8fa-a371ed6b0453
        data: |
          {"msg_type":"post","content":{"post":{"zh_cn":{"title":"${{ github.GITHUB_REPOSITORY }}流水线状态通知",
          "content":[[{"tag":"text","text":"${{ github.GITHUB_REPOSITORY }} 项目流水线有更新: "},
          {"tag":"a","text":"$message","href":"$href_url"}]]}}}}