name: testk3shelmdeng
on:
  workflow_dispatch:
jobs:
  buildyaml:
    runs-on: ubuntu-latest
    steps:
    - uses: debianmaster/actions-k3s@master
      id: k3s
      with:
        version: 'latest'
    - run: |
        kubectl get nodes

    - name: Set up Helm
      uses: azure/setup-helm@v1
      with:
        version: v3.7.2
    - run: |
        helm list
    - uses: actions/checkout@v3
      with:
        # Repository name with owner. For example, actions/checkout
        # Default: ${{ github.repository }}
        repository: 'longguikeji/arkid-charts'
        # The branch, tag or SHA to checkout. When checking out the repository that
        # triggered a workflow, this defaults to the reference or SHA for that event.
        # Otherwise, uses the default branch.
        ref: 'v2-dev'
    - run: |
        ls
    - run: |
        helm install --dry-run -n arkidv2 arkidv2 ./chart
        --set ingress.enabled=false \
        --set ingress.cert=false \
        --set ingress.tls=false \
        --set ingress.host.name=\\{\\{ hostvars['arkos-master01']['ansible_ssh_host'] \\}\\}:32580 \
        --set persistence.init=true \
        --set persistence.size=10Gi \
        --set portal.svcType=NodePort \
        --set fe.image=longguikeji/arkid-fe:v2dev-72 \
        --set be.image=longguikeji/arkid:v2dev-188 \
        --set be.podAntiAffinity.type=soft > arkid.yaml
    - run: |
        helm list
    - run: |
        cat arkid.yaml